# Houston Dataset

In [1]:
# Import dependencies
import os
import csv
import pandas as pd

## Demographic Metric

**Measuring**: ACS Population Density, Median Age, Education Level

Data was pulled from the 2020 Houston Census Database and the American Community Survey (ACS) by the U.S. Census Bureau using various coded tables to ensure unified data for each metropolitan city. Two tables used the same code and were seperated to ensure proper measurement. 
* ACS Population Density: Table DP05
* Median Age: Table DP05
* Education Level: S1501

##### ACS Population Density & Median Age (Table DP05)

In [2]:
# Import csv file for Texas ACS Population Density
houston_age_data = '../houston_data/houston_raw_csv/houston_age.csv'

# Read the CSV file into a DataFrame
houston_age_df = pd.read_csv(houston_age_data)
houston_age_df.head()

,Label (Grouping),SEX AND AGE!!Total population,SEX AND AGE!!Total population!!Under 5 years,SEX AND AGE!!Total population!!5 to 9 years,SEX AND AGE!!Total population!!10 to 14 years,SEX AND AGE!!Total population!!15 to 19 years,SEX AND AGE!!Total population!!20 to 24 years,SEX AND AGE!!Total population!!25 to 34 years,SEX AND AGE!!Total population!!35 to 44 years,SEX AND AGE!!Total population!!45 to 54 years,SEX AND AGE!!Total population!!55 to 59 years,SEX AND AGE!!Total population!!60 to 64 years,SEX AND AGE!!Total population!!65 to 74 years,SEX AND AGE!!Total population!!75 to 84 years,SEX AND AGE!!Total population!!85 years and over,SEX AND AGE!!Total population!!Median age (years)
0,"Harris County, Texas",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Estimate,"4,835,125","323,950","342,195","353,847","346,582","328,705","734,824","706,339","601,580","266,006","245,511","365,995","171,533","48,058",34.8
2,Percent,"4,835,125",6.7%,7.1%,7.3%,7.2%,6.8%,15.2%,14.6%,12.4%,5.5%,5.1%,7.6%,3.5%,1.0%,(X)

In [3]:
# Display column names and data types
print(houston_age_df.dtypes)

Label (Grouping)                                     object
SEX AND AGE!!Total population                        object
SEX AND AGE!!Total population!!Under 5 years         object
SEX AND AGE!!Total population!!5 to 9 years          object
SEX AND AGE!!Total population!!10 to 14 years        object
SEX AND AGE!!Total population!!15 to 19 years        object
SEX AND AGE!!Total population!!20 to 24 years        object
SEX AND AGE!!Total population!!25 to 34 years        object
SEX AND AGE!!Total population!!35 to 44 years        object
SEX AND AGE!!Total population!!45 to 54 years        object
SEX AND AGE!!Total population!!55 to 59 years        object
SEX AND AGE!!Total population!!60 to 64 years        object
SEX AND AGE!!Total population!!65 to 74 years        object
SEX AND AGE!!Total population!!75 to 84 years        object
SEX AND AGE!!Total population!!85 years and over     object
SEX AND AGE!!Total population!!Median age (years)    object
dtype: object

In [4]:
# Remove 'SEX AND AGE' from every column name
houston_age_df.columns = houston_age_df.columns.str.replace('SEX AND AGE!!', '')

# Drop NaN values
houston_age_df.dropna(inplace=True)

# Display the updated DataFrame
houston_age_df.head()

,Label (Grouping),Total population,Total population!!Under 5 years,Total population!!5 to 9 years,Total population!!10 to 14 years,Total population!!15 to 19 years,Total population!!20 to 24 years,Total population!!25 to 34 years,Total population!!35 to 44 years,Total population!!45 to 54 years,Total population!!55 to 59 years,Total population!!60 to 64 years,Total population!!65 to 74 years,Total population!!75 to 84 years,Total population!!85 years and over,Total population!!Median age (years)
1,Estimate,"4,835,125","323,950","342,195","353,847","346,582","328,705","734,824","706,339","601,580","266,006","245,511","365,995","171,533","48,058",34.8
2,Percent,"4,835,125",6.7%,7.1%,7.3%,7.2%,6.8%,15.2%,14.6%,12.4%,5.5%,5.1%,7.6%,3.5%,1.0%,(X)

In [5]:
# Rename columns for clarity
houston_age_df.columns = ['Houston Age Population',
  'Total Population',
  'Under 5',
  '5 to 9',
  '10 to 14',
  '15 to 19',
  '20 to 24',
  '25 to 34',
  '35 to 44',
  '45 to 54',
  '55 to 59',
  '60 to 64',
  '65 to 74',
  '75 to 84',
  '85 and Over',
  'Median Age'
]

houston_age_df.head()

,Houston Age Population,Total Population,Under 5,5 to 9,10 to 14,15 to 19,20 to 24,25 to 34,35 to 44,45 to 54,55 to 59,60 to 64,65 to 74,75 to 84,85 and Over,Median Age
1,Estimate,"4,835,125","323,950","342,195","353,847","346,582","328,705","734,824","706,339","601,580","266,006","245,511","365,995","171,533","48,058",34.8
2,Percent,"4,835,125",6.7%,7.1%,7.3%,7.2%,6.8%,15.2%,14.6%,12.4%,5.5%,5.1%,7.6%,3.5%,1.0%,(X)

In [6]:
# Save the cleaned DataFrame to a new CSV file
houston_age_df.to_csv('../houston_data/cleaned_hou_age.csv', index=False)

#### Race (Table DP05)

In [7]:
# Import csv file for race
houston_race_data = "../houston_data/houston_raw_csv/houston_race.csv"

# Read the CSV file into a DataFrame
houston_race_df = pd.read_csv(houston_race_data)
houston_race_df.head()

,Label (Grouping),Race alone or in combination with one or more other races!!Total population,Race alone or in combination with one or more other races!!Total population!!White,Race alone or in combination with one or more other races!!Total population!!Black or African American,Race alone or in combination with one or more other races!!Total population!!American Indian and Alaska Native,Race alone or in combination with one or more other races!!Total population!!Asian,Race alone or in combination with one or more other races!!Total population!!Native Hawaiian and Other Pacific Islander,Race alone or in combination with one or more other races!!Total population!!Some Other Race
0,"Harris County, Texas",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Estimate,"4,835,125","2,666,766","1,046,412","141,031","409,092","12,471","1,722,952"
2,Percent,"4,835,125",55.2%,21.6%,2.9%,8.5%,0.3%,35.6%

In [8]:
# Drop all NaN Values
houston_race_df = houston_race_df.dropna()

In [9]:
# Rename columns to remove 'Race alone or in combination with one or more other races!!Total population!!' from the column names
houston_race_df.columns = houston_race_df.columns.str.replace('Race alone or in combination with one or more other races!!Total population!!', '')
houston_race_df.head()

,Label (Grouping),Race alone or in combination with one or more other races!!Total population,White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some Other Race
1,Estimate,"4,835,125","2,666,766","1,046,412","141,031","409,092","12,471","1,722,952"
2,Percent,"4,835,125",55.2%,21.6%,2.9%,8.5%,0.3%,35.6%

In [10]:
# Rename columns for clarity 
houston_race_df.columns = ['Houston, TX', 
                           'Total Population', 
                           'White', 
                           'Black or African American', 
                           'American Indian and Alaska Native', 
                           'Asian', 
                           'Native Hawaiian and Other Pacific Islander', 
                           'Other']

# Display
houston_race_df.head()

,"Houston, TX",Total Population,White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Other
1,Estimate,"4,835,125","2,666,766","1,046,412","141,031","409,092","12,471","1,722,952"
2,Percent,"4,835,125",55.2%,21.6%,2.9%,8.5%,0.3%,35.6%

In [11]:
# Save as new CSV file
houston_age_df.to_csv('../houston_data/cleaned_hou_race.csv', index=False)

#### Education Level (Table S1501)

In [ ]:
# Import csv file for Texas edu level 
houston_edu_data = '../houston_data/tx_edu_level.csv'

# Read the CSV file into a DataFrame
houston_edu_df = pd.read_csv(houston_edu_data)
houston_edu_df.head()

In [ ]:
# Display column names and data types
print(houston_edu_df.dtypes)

In [ ]:
# Drop unnecessary columns (i.e anything with "Margin of Error")
houston_edu_df = houston_edu_df.drop(columns=['Texas!!Total!!Margin of Error', 
                                               'Texas!!Percent!!Margin of Error',
                                               'Texas!!Male!!Margin of Error',
                                               'Texas!!Percent Male!!Margin of Error',
                                               'Texas!!Female!!Margin of Error',
                                               'Texas!!Percent Female!!Margin of Error',
                                               'Houston-The Woodlands-Sugar Land, TX Metro Area!!Total!!Margin of Error',
                                               'Houston-The Woodlands-Sugar Land, TX Metro Area!!Percent!!Margin of Error',
                                               'Houston-The Woodlands-Sugar Land, TX Metro Area!!Male!!Margin of Error',
                                               'Houston-The Woodlands-Sugar Land, TX Metro Area!!Percent Male!!Margin of Error',
                                               'Houston-The Woodlands-Sugar Land, TX Metro Area!!Female!!Margin of Error',
                                               'Houston-The Woodlands-Sugar Land, TX Metro Area!!Percent Female!!Margin of Error'
                                            ])

In [ ]:
# Drop NaN values
houston_edu_df = houston_edu_df.dropna()

In [ ]:
# Rename columns for clarity
houston_edu_df = houston_edu_df.rename(columns={
    'Label (Grouping)': 'Age by Educational Attainment',
    'Texas!!Total!!Estimate': 'Texas Population',
    'Texas!!Percent!!Estimate': 'Texas Population %',
    'Texas!!Male!!Estimate': 'Male Population',
    'Texas!!Percent Male!!Estimate': 'Male Population %',
    'Texas!!Female!!Estimate': 'Female Population',
    'Texas!!Percent Female!!Estimate': 'Female Population %',
    'Houston-The Woodlands-Sugar Land, TX Metro Area!!Total!!Estimate': 'Houston Metro Population',
    'Houston-The Woodlands-Sugar Land, TX Metro Area!!Percent!!Estimate': 'Houston Metro Population %',
    'Houston-The Woodlands-Sugar Land, TX Metro Area!!Male!!Estimate': 'Houston Male Population',
    'Houston-The Woodlands-Sugar Land, TX Metro Area!!Percent Male!!Estimate': 'Houston Male %',
    'Houston-The Woodlands-Sugar Land, TX Metro Area!!Female!!Estimate': 'Houston Female Population',
    'Houston-The Woodlands-Sugar Land, TX Metro Area!!Percent Female!!Estimate': 'Houston Female %'
    })

# Display the first few rows of the cleaned DataFrame
houston_edu_df.head()

    quesiton to ask: will we want to seperate this further???

In [ ]:
# save as new csv file with cleaned data
houston_edu_df.to_csv('../houston_data/cleaned_hou_edu_level.csv', index=False)

## Economic Metric

**Measuring**: Median Household Income, Unemployment Rate, Poverty Rate.

Data for this section was pulled from the Houston 2020 Census Database using various coded tables:
* Median Household Income: Table S1901
* Unemployment Rate: Table S2301
* Poverty Rate: S1501

##### Median Household Income (Table S1901)

In [ ]:
# Import csv file from Median Household Income
houston_income_data = '../houston_data/tx_median_income.csv'

# Read the CSV file into a DataFrame
houston_income_df = pd.read_csv(houston_income_data)
houston_income_df.head()

In [ ]:
# Display column names and data types
print(houston_income_df.dtypes)

In [ ]:
# Drop unnecessary columns (i.e anything with "Margin of Error")
houston_income_df = houston_income_df.drop(columns=['Texas!!Households!!Margin of Error', 
                                                     'Texas!!Families!!Margin of Error',
                                                     'Texas!!Married-couple families!!Margin of Error',
                                                     'Texas!!Nonfamily households!!Margin of Error',
                                                     'Houston-The Woodlands-Sugar Land, TX Metro Area!!Households!!Margin of Error',
                                                     'Houston-The Woodlands-Sugar Land, TX Metro Area!!Families!!Margin of Error',
                                                     'Houston-The Woodlands-Sugar Land, TX Metro Area!!Married-couple families!!Margin of Error',
                                                     'Houston-The Woodlands-Sugar Land, TX Metro Area!!Nonfamily households!!Margin of Error'
                                                     ])

In [ ]:
# Rename columns for clarity
houston_income_df = houston_income_df.rename(columns={
    'Label (Grouping)': 'Income Grouping',
    'Texas!!Households!!Estimate': 'Texas Households',
    'Texas!!Families!!Estimate': 'Texas Families',
    'Texas!!Married-couple families!!Estimate': 'Texas Married-couple Households',
    'Texas!!Nonfamily households!!Estimate': 'Texas Nonfamily Households',
    'Houston-The Woodlands-Sugar Land, TX Metro Area!!Households!!Estimate': 'Houston Metro Households',
    'Houston-The Woodlands-Sugar Land, TX Metro Area!!Families!!Estimate': 'Houston Metro Families',
    'Houston-The Woodlands-Sugar Land, TX Metro Area!!Married-couple families!!Estimate': 'Houston Metro Married-couple Households',
    'Houston-The Woodlands-Sugar Land, TX Metro Area!!Nonfamily households!!Estimate': 'Houston Metro Nonfamily Households'
})

houston_income_df.head()

In [ ]:
# Save as new csv file with cleaned data
houston_income_df.to_csv('../houston_data/cleaned_hou_income.csv', index=False)

##### Unemployment Rate (Table S2301)

In [ ]:
# Import csv file from unemployment rate
houston_unemployment_data = '../houston_data/tx_employment_status.csv'

# Read the CSV file into a DataFrame
houston_unemployment_df = pd.read_csv(houston_unemployment_data)
houston_unemployment_df.head()

In [ ]:
# Display column names and data types
print(houston_unemployment_df.dtypes)

In [ ]:
# Clean data by dropping unnecessary columns (i.e anything with "Margin of Error")
houston_unemployment_df = houston_unemployment_df.drop(columns=['Texas!!Total!!Margin of Error', 
                                                                  'Texas!!Labor Force Participation Rate!!Margin of Error', 
                                                                  'Texas!!Employment/Population Ratio!!Margin of Error',
                                                                  'Texas!!Unemployment rate!!Margin of Error',
                                                                  'Houston-The Woodlands-Sugar Land, TX Metro Area!!Total!!Margin of Error',
                                                                  'Houston-The Woodlands-Sugar Land, TX Metro Area!!Labor Force Participation Rate!!Margin of Error',
                                                                  'Houston-The Woodlands-Sugar Land, TX Metro Area!!Employment/Population Ratio!!Margin of Error',
                                                                  'Houston-The Woodlands-Sugar Land, TX Metro Area!!Unemployment rate!!Margin of Error'
                                                                 ])

In [ ]:
# Drop NaN values
houston_unemployment_df = houston_unemployment_df.dropna()

In [ ]:
# Rename for clarity 
houston_unemployment_df = houston_unemployment_df.rename(columns={
    'Label (Grouping)': 'Age',
    'Texas!!Total!!Estimate': 'Texas Total',
    'Texas!!Labor Force Participation Rate!!Estimate': 'Texas Labor Force Participation Rate',
    'Texas!!Employment/Population Ratio!!Estimate': 'Texas Employment/Population Ratio',
    'Texas!!Unemployment rate!!Estimate': 'Texas Unemployment Rate',
    'Houston-The Woodlands-Sugar Land, TX Metro Area!!Total!!Estimate': 'Houston Metro Total',
    'Houston-The Woodlands-Sugar Land, TX Metro Area!!Labor Force Participation Rate!!Estimate': 'Houston Metro Labor Force Participation',
    'Houston-The Woodlands-Sugar Land, TX Metro Area!!Employment/Population Ratio!!Estimate': 'Houston Metro Employment/Population Ratio',
    'Houston-The Woodlands-Sugar Land, TX Metro Area!!Unemployment rate!!Estimate': 'Houston Metro Unemployment Rate'
})

# Display the first few rows of the cleaned DataFrame
houston_unemployment_df.head()

In [ ]:
# save as new csv file with cleaned data
houston_unemployment_df.to_csv('../houston_data/cleaned_hou_unemployment.csv', index=False)

#### Poverty Rate (S1501)

In [ ]:
# Import csv file from poverty rate
houston_poverty_data = '../houston_data/tx_poverty_rate.csv'

# Read the CSV file into a DataFrame
houston_poverty_df = pd.read_csv(houston_poverty_data)
houston_poverty_df.head()

In [ ]:
# Display column names and data types
print(houston_poverty_df.dtypes)

In [ ]:
# Clean data by dropping unnecessary columns (i.e anything with "Margin of Error")
houston_poverty_df = houston_poverty_df.drop(columns=['Texas!!Total!!Margin of Error',
                                                       'Texas!!Below poverty level!!Margin of Error',
                                                       'Texas!!Percent below poverty level!!Margin of Error',
                                                       'Houston-The Woodlands-Sugar Land, TX Metro Area!!Total!!Margin of Error',
                                                       'Houston-The Woodlands-Sugar Land, TX Metro Area!!Below poverty level!!Margin of Error',
                                                       'Houston-The Woodlands-Sugar Land, TX Metro Area!!Percent below poverty level!!Margin of Error'
                                                      ])

In [ ]:
# Drop NaN values
houston_poverty_df = houston_poverty_df.dropna()

In [ ]:
# Rename columns for clarity 
houston_poverty_df = houston_poverty_df.rename(columns={
    'Label (Grouping)': 'Age',
    'Texas!!Total!!Estimate': 'Texas Total',
    'Texas!!Below poverty level!!Estimate': 'Texas Below Poverty Level',
    'Texas!!Percent below poverty level!!Estimate': 'Texas % Below Poverty Level',
    'Houston-The Woodlands-Sugar Land, TX Metro Area!!Total!!Estimate': 'Houston Metro Total',
    'Houston-The Woodlands-Sugar Land, TX Metro Area!!Below poverty level!!Estimate': 'Houston Metro Below Poverty Level',
    'Houston-The Woodlands-Sugar Land, TX Metro Area!!Percent below poverty level!!Estimate': 'Houston Metro % Below Poverty Level'
})

# Display the first few rows of the cleaned DataFrame
houston_poverty_df.head()

In [ ]:
# save as new csv file with cleaned data
houston_unemployment_df.to_csv('../houston_data/cleaned_hou_poverty.csv', index=False)

## Housing Metric

**Measuring**: Median Home Price, Median Rent, Homeownership Rate

Data for this section was pulled from the Houston 2020 Census Database using the same table code from the American Community Survey by the U.S. Census Bureau (ACS). 
* Median Home Price: Table DP04
* Median Rent: Table DP04
* Homeownership Rate: Table DP04

In [ ]:
# Import csv file from Houston housing metrics
houston_housing_data = '../houston_data/tx_housing.csv'

# Read the CSV file into a DataFrame
houston_housing_df = pd.read_csv(houston_housing_data)
houston_housing_df.head()

    NOTE: will need to seperate all these out.

In [ ]:
# display column names and data types
print(houston_housing_df.dtypes)

In [ ]:
# Clean data by dropping unnecessary columns (i.e anything with "Margin of Error")
houston_housing_df = houston_housing_df.drop(columns=['Texas!!Margin of Error',
                                                       'Texas!!Percent Margin of Error',
                                                       'Houston-The Woodlands-Sugar Land, TX Metro Area!!Margin of Error',
                                                       'Houston-The Woodlands-Sugar Land, TX Metro Area!!Percent Margin of Error'
                                                     ])

In [ ]:
# Delete NaN values
houston_housing_df = houston_housing_df.dropna()

In [ ]:
# Rename columns for clarity
houston_housing_df = houston_housing_df.rename(columns={
    'Label (Grouping)': 'Housing Occupancy Status',
    'Texas!!Estimate': 'Texas Total',
    'Texas!!Percent': 'Texas %',
    'Houston-The Woodlands-Sugar Land, TX Metro Area!!Estimate': 'Houston Metro Housing Units',
    'Houston-The Woodlands-Sugar Land, TX Metro Area!!Percent': 'Houston Metro % Housing Units'
})

# Display the first few rows of the cleaned DataFrame
houston_housing_df.head()

In [ ]:
# save as new csv file with cleaned data
houston_unemployment_df.to_csv('../houston_data/cleaned_hou_housing.csv', index=False)

## Quality of Life Metric

**Measuring**: Commute Time 

Data was pulled from the Census Database using the following survey by ASC in 2020. 
* Commute Time: Table S0801

In [ ]:
# Import csv file from commute time
houston_commute_data = '../houston_data/tx_commute.csv'

# Read the CSV file into a DataFrame
houston_commute_df = pd.read_csv(houston_commute_data)
houston_commute_df.head()

In [ ]:
# Display column names and data types
print(houston_commute_df.dtypes)

In [ ]:
# Clean data by dropping unnecessary columns (i.e anything with "Margin of Error")
columns_to_drop = ['Texas!!Total!!Margin of Error',
                   'Texas!!Male!!Margin of Error',
                   'Texas!!Female!!Margin of Error',
                   'Houston-The Woodlands-Sugar Land, TX Metro Area!!Total!!Margin of Error',
                   'Houston-The Woodlands-Sugar Land, TX Metro Area!!Male!!Margin of Error',
                   'Houston-The Woodlands-Sugar Land, TX Metro Area!!Female!!Margin of Error']

# Check if columns exist before dropping
columns_to_drop = [col for col in columns_to_drop if col in houston_commute_df.columns]

houston_commute_df = houston_commute_df.drop(columns=columns_to_drop)

In [ ]:
# Delete NaN values
houston_commute_df = houston_commute_df.dropna()

In [ ]:
# Rename columns for clarity
houston_commute_df = houston_commute_df.rename(columns={
    'Label (Grouping)': 'Means of Transportation',
    'Texas!!Total!!Estimate': 'Texas Total Commute Time',
    'Texas!!Male!!Estimate': 'Male Total',
    'Texas!!Female!!Estimate': 'Female Total',
    'Houston-The Woodlands-Sugar Land, TX Metro Area!!Total!!Estimate': 'Houston Metro Total',
    'Houston-The Woodlands-Sugar Land, TX Metro Area!!Male!!Estimate': 'Houston Male Total',
    'Houston-The Woodlands-Sugar Land, TX Metro Area!!Female!!Estimate': 'Houston Female Total'
})

# Display the first few rows of the cleaned DataFrame
houston_commute_df.head()

In [ ]:
# Save as new csv file with cleaned data
houston_commute_df.to_csv('../houston_data/cleaned_hou_commute.csv', index=False)